<html lang="en">
  <%- include('../partials/head')%>
  <body>
    <!-- Header's styles -->
    <%- include('../partials/header')%>

    <!-- NavBar's styles -->
    <%- include('../partials/nav')%>
    <main>
        <h1>User name</h1>
        <p>user info</p>
    </main>
    <%- include('../partials/footer')%>
  </body>