<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>
  <body>
    <!-- Header's styles -->
    <%- include('../partials/header', { user })%>

      <!-- NavBar's styles -->
      <%- include('../partials/nav')%>


    <!--Products' history-->
    <main class="history-main">
      <h1 class="history-title">Historial</h1>
      <div class="history-time">
        <h3 class="history-time-title">Hoy</h3>
      <section class="history-product-container">
        <article class="history-product-card">
          <div class="card-img">
            <img src="./assets/hypnotic-poison-dior.jpg" alt="" />
          </div>
          <div class="card-description">
            <p class="card-price">200$</p>
            <p class="card-name">Hypnotic Poison by Dior</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
          </div>
        </article>
        <article class="history-product-card">
          <div class="card-img">
            <img src="./assets/hypnotic-poison-dior.jpg" alt="" />
          </div>
          <div class="card-description">
            <p class="card-price">200$</p>
            <p class="card-name">Hypnotic Poison by Dior</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
          </div>
        </article>
        <article class="history-product-card">
          <div class="card-img">
            <img src="./assets/hypnotic-poison-dior.jpg" alt="" />
          </div>
          <div class="card-description">
            <p class="card-price">200$</p>
            <p class="card-name">Hypnotic Poison by Dior</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
          </div>
        </article>
        <article class="history-product-card">
          <div class="card-img">
            <img src="./assets/hypnotic-poison-dior.jpg" alt="" />
          </div>
          <div class="card-description">
            <p class="card-price">200$</p>
            <p class="card-name">Hypnotic Poison by Dior</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
          </div>
        </article>
      </section>
    </div>  
    <div class="history-time">
      <h3 class="history-time-title">La semana pasada</h3>
    <section class="history-product-container">
      <article class="history-product-card">
        <div class="card-img">
          <img src="./assets/hypnotic-poison-dior.jpg" alt="" />
        </div>
        <div class="card-description">
          <p class="card-price">200$</p>
          <p class="card-name">Hypnotic Poison by Dior</p>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
        </div>
      </article>
      <article class="history-product-card">
        <div class="card-img">
          <img src="./assets/hypnotic-poison-dior.jpg" alt="" />
        </div>
        <div class="card-description">
          <p class="card-price">200$</p>
          <p class="card-name">Hypnotic Poison by Dior</p>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
        </div>
      </article>
      <article class="history-product-card">
        <div class="card-img">
          <img src="./assets/hypnotic-poison-dior.jpg" alt="" />
        </div>
        <div class="card-description">
          <p class="card-price">200$</p>
          <p class="card-name">Hypnotic Poison by Dior</p>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
        </div>
      </article>
      <article class="history-product-card">
        <div class="card-img">
          <img src="./assets/hypnotic-poison-dior.jpg" alt="" />
        </div>
        <div class="card-description">
          <p class="card-price">200$</p>
          <p class="card-name">Hypnotic Poison by Dior</p>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
        </div>
      </article>
    </section>
  </div>
    </main>
    <%- include('../partials/footer')%>

  </body>
</html>