<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de compras</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <main class="cart__section">
      <section>
        <h1 class="cart__section--title">Carrito de compras</h1>
        <div class="cart__section--container">
          <div class="cart__section--items">
            <img src="./assets/versace.jpg" alt="Perfume" />
            <div class="cart__item--info">
              <p>Nombre del producto</p>
              <p>$400</p>
              <span><a href="">Ver mas...</a></span>
            </div>
            <i class="far fa-trash-alt"></i>
          </div>

          <div class="cart__section--items">
            <img src="./assets/versace.jpg" alt="Perfume" />
            <div class="cart__item--info">
              <p>Nombre del producto</p>
              <p>$400</p>
              <span><a href="">Ver mas...</a></span>
            </div>
            <i class="far fa-trash-alt"></i>
          </div>

          <div class="cart__section--items">
            <img src="./assets/versace.jpg" alt="Perfume" />
            <div class="cart__item--info">
              <p>Nombre del producto</p>
              <p>$400</p>
              <span><a href="">Ver mas...</a></span>
            </div>
            <i class="far fa-trash-alt"></i>
          </div>

          <div class="cart__section--items">
            <img src="./assets/versace.jpg" alt="Perfume" />
            <div class="cart__item--info">
              <p>Nombre del producto</p>
              <p>$400</p>
              <span><a href="">Ver mas...</a></span>
            </div>
            <i class="far fa-trash-alt"></i>
          </div>

          <div class="cart__total">
            <div class="cart__total--info">
              <div>
                <p>Subtotal</p>
                <p>Envio</p>
                <p>IVA</p>
              </div>
              <div>
                <p>$16.000</p>
                <p>$0</p>
                <p>$0</p>
              </div>
            </div>
            <div class="cart__total--total">
              <p class="total">Total</p>
              <p>$16.000</p>
            </div>
          </div>
        </div>
      </section>

      <section></section>
    </main>
  </body>
</html>
