<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Mate+SC&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Mate+SC&family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>    
    <!-- Header's styles -->
    <header class="main-header">
        <div class="main-header__container">
          <h1 class="main-header__title">SCENTZONE</h1>
          <div class="main-header__menuIcons">
            <a href="" class="main-header__btn"><i class="fas fa-home"></i></a>
            <a href="" class="main-header__btn"
              ><i class="fas fa-shopping-cart"></i
            ></a>
            <span class="main-header__btn"><i class="fas fa-user"></i></span>
          </div>
          <div class="main-header__search">
            <input class="main-header__search--bar" type="text" />
            <span class="icon-search"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </header>
      <!-- NavBar's styles -->
      <nav class="main-nav">
        <div class="main-nav__container">
          <span class="icon-menu" id="btn-menu"><i class="fas fa-bars"></i></span>
          <ul class="main-nav__menu">
            <li class="menu__item">
              <a href="" class="menu__link">Amaderado</a>
            </li>
            <li class="menu__item"><a href="" class="menu__link">Floral</a></li>
            <li class="menu__item"><a href="" class="menu__link">Cítrico</a></li>
            <li class="menu__item"><a href="" class="menu__link">Dulce</a></li>
            <li class="menu__item"><a href="" class="menu__link">Frutal</a></li>
          </ul>
          <span class="icon-search"><i class="fas fa-search"></i></span>
        </div>
      </nav>
      <main>
       <!-- Categories's section -->
       <div class="main__categories-container">
        <div class="main__categories-menu">
            <img src="assets/essential-oils-gd45ce49bf_1280.jpg" alt="" class="main__categories-image">
            <div class="main__categories-mainMenu">
                <h1 class="main__categories-title">Categoria</h1>                
                <div class="main__categories-filter">
                    <button class="select-filter" name="select" value="options">Filtrar por:</button>
                    <div class="options-filter">
                        <p class="item-filter active">option 1</p>
                        <p class="item-filter">option 2</p>
                        <p class="item-filter">option 3</p>
                        <p class="item-filter">option 4</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Products by categories -->
        <div class="main__categories-productsContent">          
            <article class="product__categories--card">
                <div class="perfume__img">
                  <img src="./assets/product7.jpg" alt="" />
                </div>
                <div class="perfume__info">
                  <p class="price">180$</p>
                  <p class="product__name">Coco Noir</p>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>      
                  <i class="fas fa-shopping-cart cart"></i>
                </div>
              </article>
            <article class="product__categories--card">
                <div class="perfume__img">
                  <img src="./assets/product1.jpg" alt="" />
                </div>
                <div class="perfume__info">
                  <p class="price">180$</p>
                  <p class="product__name">Coco Noir</p>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
      
                  <i class="fas fa-shopping-cart cart"></i>
                </div>
              </article>
            <article class="product__categories--card">
                <div class="perfume__img">
                  <img src="./assets/product2.jpg" alt="" />
                </div>
                <div class="perfume__info">
                  <p class="price">180$</p>
                  <p class="product__name">Coco Noir</p>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
      
                  <i class="fas fa-shopping-cart cart"></i>
                </div>
              </article>
            <article class="product__categories--card">
                <div class="perfume__img">
                  <img src="./assets/product3.jpg" alt="" />
                </div>
                <div class="perfume__info">
                  <p class="price">180$</p>
                  <p class="product__name">Coco Noir</p>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
      
                  <i class="fas fa-shopping-cart cart"></i>
                </div>
              </article>
            <article class="product__categories--card">
                <div class="perfume__img">
                  <img src="./assets/product4.jpg" alt="" />
                </div>
                <div class="perfume__info">
                  <p class="price">180$</p>
                  <p class="product__name">Coco Noir</p>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
      
                  <i class="fas fa-shopping-cart cart"></i>
                </div>
              </article>
            <article class="product__categories--card">
                <div class="perfume__img">
                  <img src="./assets/product5.jpg" alt="" />
                </div>
                <div class="perfume__info">
                  <p class="price">180$</p>
                  <p class="product__name">Coco Noir</p>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
      
                  <i class="fas fa-shopping-cart cart"></i>
                </div>
              </article>
            <article class="product__categories--card">
                <div class="perfume__img">
                  <img src="./assets/product6.jpg" alt="" />
                </div>
                <div class="perfume__info">
                  <p class="price">180$</p>
                  <p class="product__name">Coco Noir</p>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
      
                  <i class="fas fa-shopping-cart cart"></i>
                </div>
              </article>
            <article class="product__categories--card">
                <div class="perfume__img">
                  <img src="./assets/product8.jpg" alt="" />
                </div>
                <div class="perfume__info">
                  <p class="price">180$</p>
                  <p class="product__name">Coco Noir</p>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
      
                  <i class="fas fa-shopping-cart cart"></i>
                </div>
              </article>
          
        </div>
        <div class="main__categories-sections">
            <div class="main__categories-sectionOptions">
                <a href=""><i class="fas fa-chevron-left"></i></a>
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href=""><i class="fas fa-chevron-right"></i></a>
            </div>
           
        </div>
      </main>
    <!-- Footer section -->
      <footer>
        <div class="footer-container">
        <div class="footer-divs">
            <a href="#"><p>About Us</p></a>
            <a href="#"><p>Preguntas Frecuentes</p></a>
            <a href="#"><p>Testimonios</p></a>
        </div>
        <div class="footer-divs">
            <a href="#"><p>Términos y condiciones</p></a>
            <a href="#"><p>Derechos reservados</p></a>
        </div>
        <div class="footer-divs">
            <a href="#"><p><i class="fab fa-instagram"></i>Instagram</p></a>
            <a href="#"><p><i class="fab fa-github"></i>Github</p></a>
        </div>
        <div class="footer-email-div">
            <p>Déjanos tu email para recibir promociones e información sobre nuevos productos</p>
            <form action="" method="get">
                <input type="email" name="email" id="email">
                <input type="submit" name="enviar" id="enviar" placeholder="Enviar">
            </form>
        </div>
    </div>
    <div class="copyright"><p>Copyright ©</p></div>
    </footer>
</body>
</html>