<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- <p>This is home</p> -->
    <main class="product__section">
      <h1 class="product__section--title">Promociones del dia</h1>
      <section class="product__container">
        <article class="product__container--card">
          <div class="perfume__img">
            <img src="./assets/perfume1.jpg" alt="" />
          </div>
          <div class="perfume__info">
            <p class="price">180$</p>
            <p class="product__name">Coco Noir</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-shopping-cart cart"></i>
          </div>
        </article>
        <article class="product__container--card">
          <div class="perfume__img">
            <img src="./assets/perfume1.jpg" alt="" />
          </div>
          <div class="perfume__info">
            <p class="price">180$</p>
            <p class="product__name">Coco Noir</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>

            <i class="fas fa-shopping-cart cart"></i>
          </div>
        </article>

        <article class="product__container--card">
          <div class="perfume__img">
            <img src="./assets/perfume1.jpg" alt="" />
          </div>
          <div class="perfume__info">
            <p class="price">180$</p>
            <p class="product__name">Coco Noir</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>

            <i class="fas fa-shopping-cart cart"></i>
          </div>
        </article>

        <article class="product__container--card">
          <div class="perfume__img">
            <img src="./assets/perfume1.jpg" alt="" />
          </div>
          <div class="perfume__info">
            <p class="price">180$</p>
            <p class="product__name">Coco Noir</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>

            <i class="fas fa-shopping-cart cart"></i>
          </div>
        </article>
      </section>

      <h1 class="product__section--title">Los mas vendidos</h1>
      <section class="product__container">
        <article class="product__container--card">
          <div class="perfume__img">
            <img src="./assets/perfume1.jpg" alt="" />
          </div>
          <div class="perfume__info">
            <p class="price">180$</p>
            <p class="product__name">Coco Noir</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-shopping-cart cart"></i>
          </div>
        </article>
        <article class="product__container--card">
          <div class="perfume__img">
            <img src="./assets/perfume1.jpg" alt="" />
          </div>
          <div class="perfume__info">
            <p class="price">180$</p>
            <p class="product__name">Coco Noir</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>

            <i class="fas fa-shopping-cart cart"></i>
          </div>
        </article>

        <article class="product__container--card">
          <div class="perfume__img">
            <img src="./assets/perfume1.jpg" alt="" />
          </div>
          <div class="perfume__info">
            <p class="price">180$</p>
            <p class="product__name">Coco Noir</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>

            <i class="fas fa-shopping-cart cart"></i>
          </div>
        </article>

        <article class="product__container--card">
          <div class="perfume__img">
            <img src="./assets/perfume1.jpg" alt="" />
          </div>
          <div class="perfume__info">
            <p class="price">180$</p>
            <p class="product__name">Coco Noir</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>

            <i class="fas fa-shopping-cart cart"></i>
          </div>
        </article>
      </section>

      <h1 class="product__section--title">Ediciones exclusivas</h1>
      <section class="product__container">
        <article class="product__container--card">
          <div class="perfume__img">
            <img src="./assets/perfume1.jpg" alt="" />
          </div>
          <div class="perfume__info">
            <p class="price">180$</p>
            <p class="product__name">Coco Noir</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-shopping-cart cart"></i>
          </div>
        </article>
        <article class="product__container--card">
          <div class="perfume__img">
            <img src="./assets/perfume1.jpg" alt="" />
          </div>
          <div class="perfume__info">
            <p class="price">180$</p>
            <p class="product__name">Coco Noir</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>

            <i class="fas fa-shopping-cart cart"></i>
          </div>
        </article>

        <article class="product__container--card">
          <div class="perfume__img">
            <img src="./assets/perfume1.jpg" alt="" />
          </div>
          <div class="perfume__info">
            <p class="price">180$</p>
            <p class="product__name">Coco Noir</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>

            <i class="fas fa-shopping-cart cart"></i>
          </div>
        </article>

        <article class="product__container--card">
          <div class="perfume__img">
            <img src="./assets/perfume1.jpg" alt="" />
          </div>
          <div class="perfume__info">
            <p class="price">180$</p>
            <p class="product__name">Coco Noir</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>

            <i class="fas fa-shopping-cart cart"></i>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
