<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preguntas y respuestas</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body class="background">
    <main class="frequentQuestions__container">
      <section class="frequentQuestions__wrapper">
        <h1>Preguntas Frecuentes</h1>
        <article class="frequentQuestions__content">
          <h2>¿los perfumes que venden son originales?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            sed vel incidunt corporis reiciendis aliquam aperiam asperiores
            voluptatum beatae nemo quibusdam quam accusamus et cum cupiditate
            impedit nostrum, alias quia?
          </p>
        </article>

        <article class="frequentQuestions__content">
          <h2>¿los perfumes que venden son originales?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            sed vel incidunt corporis reiciendis aliquam aperiam asperiores
            voluptatum beatae nemo quibusdam quam accusamus et cum cupiditate
            impedit nostrum, alias quia?
          </p>
        </article>

        <article class="frequentQuestions__content">
          <h2>¿los perfumes que venden son originales?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            sed vel incidunt corporis reiciendis aliquam aperiam asperiores
            voluptatum beatae nemo quibusdam quam accusamus et cum cupiditate
            impedit nostrum, alias quia?
          </p>
        </article>

        <article class="frequentQuestions__content">
          <h2>¿los perfumes que venden son originales?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            sed vel incidunt corporis reiciendis aliquam aperiam asperiores
            voluptatum beatae nemo quibusdam quam accusamus et cum cupiditate
            impedit nostrum, alias quia?
          </p>
        </article>
      </section>
    </main>
  </body>
</html>
