*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1,h2{
    margin: 0;
    padding:0;
}

/* Header's styles */
.main-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #50020D;
    width: 100%;
    padding: 25px;
}

.main-header__title{
    width: 40%;    
    color:#fff;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
    margin: 0;
}

.main-header__menuIcons{
    display: flex;
    align-items:center;
   
}

.main-header__menuIcons a:nth-child(1){
    display: none;
}

a.main-header__btn{
    height: 100%;    
}

.main-header__btn{
    display: block;
    padding: 0 20px;
    color:#454546;    
    text-decoration: none;
}

.main-header__btn i{
    font-size:1.4em;
    cursor:pointer;
    color:#ffff;
}
/* End header's styles */

/* Navbar styles */
.main-nav{
    background-color:#141417;
    margin: 0;
}

.main-nav__container{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin:0 auto;
    padding:20px 0;
}

.main-nav__menu{
    display:none
}

.main-header__search{
  display: none;
}

.icon-menu, .icon-search{
    color: #fff;
    font-size:1.6em;    
    display: block;   
    cursor: pointer;    
}
/* End navbar's styles */

/* Slider styles */
.main-slider{
    position: relative;
    width: 100%;
    overflow: hidden;
   
}

.main-slider__container{
    width: 100%;    
    position: relative;
    
}

.main-slider__image{
    display: block;
    width: 100%;    
    object-fit: cover;
    z-index: 1;    
}

.main-slider__content{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-10%, -30%);
    z-index: 9999;
    color:#fff;
    width:50%
}

.slider__title{
    font-size: 1.6em;
    font-weight: 300;
    margin-bottom: 1.5em;
}

.slider__text{
    font-size: 1em;
}

.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background:rgba(255,255,255,0.7);
    top:50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor:pointer;
    z-index: 999;
}

.slider__btn:hover{
    background:#fff;
}

.slider__btn--left{
    left: 10px;
}

.slider__btn--right{
    right:10px;
}
/* End slider's styles */




@media screen and ( min-width: 760px ){

    .main-header__container{
        padding: 30px 40px;
    }

    .main-header__title{
        font-size: 48px;
        width: 50%;
    }

    .main-header__btn{      
        height: 30px;
    }
    .main-header__btn i{
        font-size: 1.7em;
        text-align: center;
    }
    
    .main-header__menuIcons{
        width: 30%;
        justify-content: flex-end;
        margin: 0;
    }

    .main-header__menuIcons a:nth-child(1){
        display: block;
    }

    .main-header__search{
      display: block;
        width: 200px;
        /* border-radius:20px;
        b     */
                
    }

    .main-header__search--bar{
      background-color:#3b010a;
      height:35px;
      border-radius:20px;
      border:none;
      color: white;
      font-size: 14px;
    }

    .icon-search{
        color:rgba(255, 255, 255, 0.5);
        padding:5px 10px;
        position: absolute;
        top:0;
        left:0;
        font-size: 20px;       
    }

    /* Navbar's styles */
    .icon-menu{
        display: none;
    }

    .main-nav__container .icon-search{
        display: none;
    }

    .main-nav__container{
        width: 80%;
    }
    
    .main-nav__menu{
        display: block;        
        width: 100%;
        display: flex;
        justify-content: space-between;
        background:none;
       list-style: none;
    }

    .menu__item{
        text-align: center;
    }

    .menu__link{
        text-decoration: none;
        color:#ffff;
        font-size: 1.3em;
    }

    .main-slider__container{
        width: 100%;
        height: 400px;
    }

    .main-slider__image{
        display: block;
        width: 100%;    
        
    }
}