<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')%>
  <body>
    <%- include('./partials/header')%>
    <!-- NavBar's styles -->
    <%- include('./partials/nav')%>

    <main class="error-catch-main">
        <p><i class="fas fa-wrench" id="conf-icon"></i></p>
        <h2 class="error-catch-title">Ocurrió un error, vuelve más tarde</h2>
    </main>


     
    
<body>
    <%- include('./partials/footer')%>
</body>
</html>