<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')%>
  <body>
    <!-- Header's styles -->
    <header class="main-header">
        <div class="main-header__container">
          <h1 class="main-header__title">SCENTZONE</h1>
          <div class="main-header__menuIcons">
            <a href="/" class="main-header__btn"><i class="fas fa-home"></i></a>
            <a href="/cart" class="main-header__btn"
              ><i class="fas fa-shopping-cart"></i
            ></a>
            <a href="/login" class="main-header__btn"><i class="fas fa-user"></i></a>
          </div>
          <div class="main-header__search">
            <input class="main-header__search--bar" type="text" />
            <aspan class="icon-search"><i class="fas fa-search"></i></aspan>
          </div>
        </div>
      </header>
      <!-- NavBar's styles -->
      <nav class="main-nav">
        <div class="main-nav__container">
          <span class="icon-menu" id="btn-menu"><i class="fas fa-bars"></i></span>
          <ul class="main-nav__menu">
            <li class="menu__item">
              <a href="/categories" class="menu__link">Amaderado</a>
            </li>
            <li class="menu__item"><a href="/categories" class="menu__link">Floral</a></li>
            <li class="menu__item"><a href="/categories" class="menu__link">Cítrico</a></li>
            <li class="menu__item"><a href="/categories" class="menu__link">Dulce</a></li>
            <li class="menu__item"><a href="/categories" class="menu__link">Frutal</a></li>
          </ul>
          <span class="icon-search"><i class="fas fa-search"></i></span>
        </div>
      </nav>

    <!--Products' history-->
    <main class="history-main">
      <h1 class="history-title">Historial</h1>
      <div class="history-time">
        <h3 class="history-time-title">Hoy</h3>
      <section class="history-product-container">
        <article class="history-product-card">
          <div class="card-img">
            <img src="./assets/hypnotic-poison-dior.jpg" alt="" />
          </div>
          <div class="card-description">
            <p class="card-price">200$</p>
            <p class="card-name">Hypnotic Poison by Dior</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
          </div>
        </article>
        <article class="history-product-card">
          <div class="card-img">
            <img src="./assets/hypnotic-poison-dior.jpg" alt="" />
          </div>
          <div class="card-description">
            <p class="card-price">200$</p>
            <p class="card-name">Hypnotic Poison by Dior</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
          </div>
        </article>
        <article class="history-product-card">
          <div class="card-img">
            <img src="./assets/hypnotic-poison-dior.jpg" alt="" />
          </div>
          <div class="card-description">
            <p class="card-price">200$</p>
            <p class="card-name">Hypnotic Poison by Dior</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
          </div>
        </article>
        <article class="history-product-card">
          <div class="card-img">
            <img src="./assets/hypnotic-poison-dior.jpg" alt="" />
          </div>
          <div class="card-description">
            <p class="card-price">200$</p>
            <p class="card-name">Hypnotic Poison by Dior</p>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
          </div>
        </article>
      </section>
    </div>  
    <div class="history-time">
      <h3 class="history-time-title">La semana pasada</h3>
    <section class="history-product-container">
      <article class="history-product-card">
        <div class="card-img">
          <img src="./assets/hypnotic-poison-dior.jpg" alt="" />
        </div>
        <div class="card-description">
          <p class="card-price">200$</p>
          <p class="card-name">Hypnotic Poison by Dior</p>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
        </div>
      </article>
      <article class="history-product-card">
        <div class="card-img">
          <img src="./assets/hypnotic-poison-dior.jpg" alt="" />
        </div>
        <div class="card-description">
          <p class="card-price">200$</p>
          <p class="card-name">Hypnotic Poison by Dior</p>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
        </div>
      </article>
      <article class="history-product-card">
        <div class="card-img">
          <img src="./assets/hypnotic-poison-dior.jpg" alt="" />
        </div>
        <div class="card-description">
          <p class="card-price">200$</p>
          <p class="card-name">Hypnotic Poison by Dior</p>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
        </div>
      </article>
      <article class="history-product-card">
        <div class="card-img">
          <img src="./assets/hypnotic-poison-dior.jpg" alt="" />
        </div>
        <div class="card-description">
          <p class="card-price">200$</p>
          <p class="card-name">Hypnotic Poison by Dior</p>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
          <i class="fas fa-star stars"></i>
        </div>
      </article>
    </section>
  </div>
    </main>
    <%- include('./partials/footer')%>

  </body>
</html>