<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Mate+SC&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Mate+SC&family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>ScentZone</title>
  </head>
  <body>
    <!-- Header's styles -->
    <header class="main-header">
      <div class="main-header__container">
        <h1 class="main-header__title">SCENTZONE</h1>
        <div class="main-header__menuIcons">
          <a href="/" class="main-header__btn"><i class="fas fa-home"></i></a>
          <a href="/cart" class="main-header__btn"
            ><i class="fas fa-shopping-cart"></i
          ></a>
          <a href="/login" class="main-header__btn"><i class="fas fa-user"></i></a>
        </div>
        <div class="main-header__search">
          <input class="main-header__search--bar" type="text" />
          <span class="icon-search"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </header>
    <!-- NavBar's styles -->
    <nav class="main-nav">
      <div class="main-nav__container">
        <span class="icon-menu" id="btn-menu"><i class="fas fa-bars"></i></span>
        <ul class="main-nav__menu">
          <li class="menu__item">
            <a href="/categories" class="menu__link">Amaderado</a>
          </li>
          <li class="menu__item"><a href="/categories" class="menu__link">Floral</a></li>
          <li class="menu__item"><a href="/categories" class="menu__link">Cítrico</a></li>
          <li class="menu__item"><a href="/categories" class="menu__link">Dulce</a></li>
          <li class="menu__item"><a href="/categories" class="menu__link">Frutal</a></li>
        </ul>
        <span class="icon-search"><i class="fas fa-search"></i></span>
      </div>
    </nav>
    <main class="main-product-detail">
      <div class="main-pd-container">
        <div class="img-pd-container">
          <img src="./assets/atkinsons-arcade.jpg" alt="product image">
        </div>
        <div class="info-pd-container">
          <h2 class="product-title">ATKINSONS 41 BURLINGTON ARCADE EAU DE PERFUM</h2>
          <div class="info-main-container">
            <div class="brand-div">
              <p class="brand-title">Marca:</p>
              <p class="brand">ATKINSONS</p>
            </div>
            <div class="price-div">
              <p class="price-product-detail">$200</p>
            </div>
            <div class="cant-div">
              <form action="">
                <label for="cantidad">Cantidad:</label>
                <input type="number" id="cantidad" name="cantidad" min="1" max="20">
              </form>
            </div>
            <div class="button-div">
              <button class="add-to-cart"><i class="fas fa-shopping-cart"></i
                >AÑADIR AL CARRITO</button>
            </div>
          </div>
       
        </div>
      </div>
      <div class="decription-pd-container">
        <div class="product-description">
          <h3>Descripción</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nesciunt incidunt illo, temporibus reprehenderit fugiat modi ea cum quo, quod cupiditate est voluptatem delectus sapiente libero dolore et nemo tenetur.</p>
        </div>
      </div>
    </main>
  </body>
  <%- include('./partials/footer')%>

    </body>
  </html>