<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preguntas y respuestas</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body class="background">
    <!-- Header's styles -->
    <header class="main-header">
      <div class="main-header__container">
        <h1 class="main-header__title">SCENTZONE</h1>
        <div class="main-header__menuIcons">
          <a href="/" class="main-header__btn"><i class="fas fa-home"></i></a>
          <a href="/cart" class="main-header__btn"
            ><i class="fas fa-shopping-cart"></i
          ></a>
          <a href="/login" class="main-header__btn"><i class="fas fa-user"></i></a>
        </div>
        <div class="main-header__search">
          <input class="main-header__search--bar" type="text" />
          <span class="icon-search"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </header>
    <!-- NavBar's styles -->
    <nav class="main-nav">
      <div class="main-nav__container">
        <span class="icon-menu" id="btn-menu"><i class="fas fa-bars"></i></span>
        <ul class="main-nav__menu">
          <li class="menu__item">
            <a href="/categories" class="menu__link">Amaderado</a>
          </li>
          <li class="menu__item"><a href="/categories" class="menu__link">Floral</a></li>
          <li class="menu__item"><a href="/categories" class="menu__link">Cítrico</a></li>
          <li class="menu__item"><a href="/categories" class="menu__link">Dulce</a></li>
          <li class="menu__item"><a href="/categories" class="menu__link">Frutal</a></li>
        </ul>
        <span class="icon-search"><i class="fas fa-search"></i></span>
      </div>
    </nav>
    <main class="frequentQuestions__container">
      <section class="frequentQuestions__wrapper">
        <h1>Preguntas Frecuentes</h1>
        <article class="frequentQuestions__content">
          <h2>¿los perfumes que venden son originales?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            sed vel incidunt corporis reiciendis aliquam aperiam asperiores
            voluptatum beatae nemo quibusdam quam accusamus et cum cupiditate
            impedit nostrum, alias quia?
          </p>
        </article>

        <article class="frequentQuestions__content">
          <h2>¿los perfumes que venden son originales?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            sed vel incidunt corporis reiciendis aliquam aperiam asperiores
            voluptatum beatae nemo quibusdam quam accusamus et cum cupiditate
            impedit nostrum, alias quia?
          </p>
        </article>

        <article class="frequentQuestions__content">
          <h2>¿los perfumes que venden son originales?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            sed vel incidunt corporis reiciendis aliquam aperiam asperiores
            voluptatum beatae nemo quibusdam quam accusamus et cum cupiditate
            impedit nostrum, alias quia?
          </p>
        </article>

        <article class="frequentQuestions__content">
          <h2>¿los perfumes que venden son originales?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            sed vel incidunt corporis reiciendis aliquam aperiam asperiores
            voluptatum beatae nemo quibusdam quam accusamus et cum cupiditate
            impedit nostrum, alias quia?
          </p>
        </article>
      </section>
    </main>
    <%- include('./partials/footer')%>

  </body>
</html>
