<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')%>
  <body class="background">
    <!-- Header's styles -->
    <%- include('./partials/header')%>

    <!-- NavBar's styles -->
    <%- include('./partials/nav')%>

    <main class="frequentQuestions__container">
      <section class="frequentQuestions__wrapper">
        <h1>Preguntas Frecuentes</h1>
        <article class="frequentQuestions__content">
          <h2>多los perfumes que venden son originales?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            sed vel incidunt corporis reiciendis aliquam aperiam asperiores
            voluptatum beatae nemo quibusdam quam accusamus et cum cupiditate
            impedit nostrum, alias quia?
          </p>
        </article>

        <article class="frequentQuestions__content">
          <h2>多los perfumes que venden son originales?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            sed vel incidunt corporis reiciendis aliquam aperiam asperiores
            voluptatum beatae nemo quibusdam quam accusamus et cum cupiditate
            impedit nostrum, alias quia?
          </p>
        </article>

        <article class="frequentQuestions__content">
          <h2>多los perfumes que venden son originales?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            sed vel incidunt corporis reiciendis aliquam aperiam asperiores
            voluptatum beatae nemo quibusdam quam accusamus et cum cupiditate
            impedit nostrum, alias quia?
          </p>
        </article>

        <article class="frequentQuestions__content">
          <h2>多los perfumes que venden son originales?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            sed vel incidunt corporis reiciendis aliquam aperiam asperiores
            voluptatum beatae nemo quibusdam quam accusamus et cum cupiditate
            impedit nostrum, alias quia?
          </p>
        </article>
      </section>
    </main>
    <%- include('./partials/footer')%>

  </body>
</html>
