<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>
<body>    
    <!-- Header's styles -->
    <%- include('../partials/header')%>

      <!-- NavBar's styles -->
      <%- include('../partials/nav')%>

      <main>
       <!-- Categories's section -->
       <div class="main__categories-container">
        <div class="main__categories-menu">
            <img src="../assets/slider_categories-resized.jpg" alt="" class="main__categories-image">
            <div class="main__categories-mainMenu">
                <h1 class="main__categories-title">Categoria</h1>                
                <div class="main__categories-filter">
                    <button class="select-filter" name="select" value="options">Filtrar por:</button>
                    <div class="options-filter">
                        <p class="item-filter active">option 1</p>
                        <p class="item-filter">option 2</p>
                        <p class="item-filter">option 3</p>
                        <p class="item-filter">option 4</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Products by categories -->
        <div class="main__categories-productsContent">          
            
              <article class="product__categories--card">
               <a href="/products/product-detail">
                <div class="perfume__img">
                  <img src="../assets/product7-resized.jpg" alt="" />
                </div>
                <div class="perfume__info">
                  <p class="price">180$</p>
                  <p class="product__name">Coco Noir</p>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>      
                  <i class="fas fa-shopping-cart cart"></i>
                </div>
              </a>
              </article>
        
            <article class="product__categories--card">
              <a href="/products/product-detail">
                <div class="perfume__img">
                  <img src="../assets/product1-resized.jpg" alt="" />
                </div>
                <div class="perfume__info">
                  <p class="price">180$</p>
                  <p class="product__name">Coco Noir</p>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
      
                  <i class="fas fa-shopping-cart cart"></i>
                </div>
              </a>
              </article>
            <article class="product__categories--card">
              <a href="/products/product-detail">
                <div class="perfume__img">
                  <img src="../assets/product2-resized.jpg" alt="" />
                </div>
                <div class="perfume__info">
                  <p class="price">180$</p>
                  <p class="product__name">Coco Noir</p>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
      
                  <i class="fas fa-shopping-cart cart"></i>
                </div>
              </a>
              </article>
            <article class="product__categories--card">
                <div class="perfume__img">
                  <img src="../assets/product3-resized.jpg" alt="" />
                </div>
                <div class="perfume__info">
                  <p class="price">180$</p>
                  <p class="product__name">Coco Noir</p>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
      
                  <i class="fas fa-shopping-cart cart"></i>
                </div>
              </article>
            <article class="product__categories--card">
                <div class="perfume__img">
                  <img src="../assets/product4-resized.jpg" alt="" />
                </div>
                <div class="perfume__info">
                  <p class="price">180$</p>
                  <p class="product__name">Coco Noir</p>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
      
                  <i class="fas fa-shopping-cart cart"></i>
                </div>
              </article>
            <article class="product__categories--card">
                <div class="perfume__img">
                  <img src="../assets/product5-resized.jpg" alt="" />
                </div>
                <div class="perfume__info">
                  <p class="price">180$</p>
                  <p class="product__name">Coco Noir</p>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
      
                  <i class="fas fa-shopping-cart cart"></i>
                </div>
              </article>
            <article class="product__categories--card">
                <div class="perfume__img">
                  <img src="../assets/product6-resized.jpg" alt="" />
                </div>
                <div class="perfume__info">
                  <p class="price">180$</p>
                  <p class="product__name">Coco Noir</p>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
      
                  <i class="fas fa-shopping-cart cart"></i>
                </div>
              </article>
            <article class="product__categories--card">
                <div class="perfume__img">
                  <img src="../assets/product8-resized.jpg" alt="" />
                </div>
                <div class="perfume__info">
                  <p class="price">180$</p>
                  <p class="product__name">Coco Noir</p>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
                  <i class="fas fa-star stars"></i>
      
                  <i class="fas fa-shopping-cart cart"></i>
                </div>
              </article>
          
        </div>
        <div class="main__categories-sections">
            <div class="main__categories-sectionOptions">
                <a href=""><i class="fas fa-chevron-left"></i></a>
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href=""><i class="fas fa-chevron-right"></i></a>
            </div>
           
        </div>
      </main>
    <!-- Footer section -->
    <%- include('../partials/footer')%>

</body>
</html>