<footer>
    <div class="footer-container">
      <div class="footer-divs">
        <a href="#"><p>About Us</p></a>
        <a href="/questions"><p>Preguntas Frecuentes</p></a>
        <a href="#"><p>Testimonios</p></a>
      </div>
      <div class="footer-divs">
        <a href="#"><p>Términos y condiciones</p></a>
        <a href="#"><p>Derechos reservados</p></a>
      </div>
      <div class="footer-divs">
        <a href="#"
          ><p><i class="fab fa-instagram"></i>Instagram</p></a
        >
        <a href="https://github.com/CristianAGV/grupo_10_scent-zone"
          ><p><i class="fab fa-github"></i>Github</p></a
        >
      </div>
      <div class="footer-email-div">
        <p>
          Déjanos tu email para recibir promociones e información sobre nuevos
          productos
        </p>
        <form action="" method="get">
          <input type="email" name="email" id="email" />
          <input
            type="submit"
            name="enviar"
            id="enviar"
            placeholder="Enviar"
          />
        </form>
      </div>
    </div>
    <div class="copyright"><p>Copyright ©</p></div>
  </footer>