<header class="main-header">
  <div class="main-header__container">
    <h1 class="main-header__title"><a href="/">SCENTZONE</a></h1>
    <div class="main-header__menuIcons">
      <a href="/" class="main-header__btn"><i class="fas fa-home"></i></a>
      <a href="/cart" class="main-header__btn"
        ><i class="fas fa-shopping-cart"></i
      ></a>
      <a href="/users/login" class="main-header__btn"
        ><i class="fas fa-user"></i
      ></a>
      <% if (locals.user) { %>
      <p class="header__userName"><a href="/users/detail/<%= user.id%>"><%= user.first_name %></a></p>
      <a href="/users/logout" class="main-header__btn"
        ><i class="fas fa-sign-out-alt"></i
      ></a>
      <% } %>
    </div>
    <div class="main-header__search">
      <input class="main-header__search--bar" type="text" />
      <span class="icon-search"><i class="fas fa-search"></i></span>
    </div>
  </div>
</header>
