<nav class="main-nav">
    <div class="main-nav__container">
      <span class="icon-menu" id="btn-menu"><i class="fas fa-bars"></i></span>
      <ul class="main-nav__menu">
        <li class="menu__item">
          <a href="/products/categories" class="menu__link">Amaderado</a>
        </li>
        <li class="menu__item"><a href="/products/categories" class="menu__link">Floral</a></li>
        <li class="menu__item"><a href="/products/categories" class="menu__link">Cítrico</a></li>
        <li class="menu__item"><a href="/products/categories" class="menu__link">Dulce</a></li>
        <li class="menu__item"><a href="/products/categories" class="menu__link">Frutal</a></li>
      </ul>
      <span class="icon-search"><i class="fas fa-search"></i></span>
    </div>
  </nav>