@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
.App {
  font-family: "Poppins", sans-serif;
  padding: 0 2rem;
  margin: 50px 50px;
}

.App h2 {
  margin-bottom: 2rem;
}

.dashboard-card {
  display: block;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #9e9e9e;
  padding: 20px;
}

#dash-card {
  width: 190px;
  height: 200px;
  box-shadow: 0px 0px 5px #6b021060;
  background-color: rgb(255, 255, 255);
}

.text-div{
  background-color: #141417;
  width: 100%;
}

.dashboard-card h2 {
  color: #6b0210;
  font-size: 40px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  width: 950px;
  margin: 50px 0px;
}

@media only screen and (max-width: 1000px) {
.cards-container{
  display: flex;
  flex-direction: column;
}
#dash-card{
  margin-bottom: 40px;
}
}